#slika {
    height: 200px; 
    padding-left: 7px;
    border-radius: 10px;  
}

.container{
    width: 60%;
    margin: auto;    
    align-items: center;
}

#ostalo{
    margin: auto;
    height: 100px;
    margin-top: -10px;
    display:flex;
    flex-wrap: wrap;
    line-height: 100px;
    text-align: center;
    color: white;
}

#stupac{
    background:  rgb(204, 203, 203);
    width: 30%;
    height: 100px;
    margin-top: -10px;
    margin-left: -5px; 
    border-radius: 5px; 
}

#stupac2{
    background:  rgb(204, 203, 203);
    width: 65.5%;
    height: 100px;
    margin-top: -10px;
    margin-left: 5%;
    border-radius: 5px;
}

#ostalo2{ 
    position: fixed;
    bottom: 5px;
    background: rgb(204, 203, 203);
    width: 60%;
    margin: auto;
    height: 60px;
    left: 19.70%;
    line-height: 60px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    position: absolute;
    object-fit: cover;
    left: -70px;
    margin-top: 70px; 
    resize: horizontal;      
}

.item1{
    grid-column: 1/span 3;
    grid-row: 1;
}

.item2{
    width: 50%;
    grid-column: 4;
    grid-row: 1/span 2;
    align-self: to
}

.item3{
    grid-column: 1/span 2;
    grid-row: 2;
}

.item4{
    grid-column: 3;
    grid-row: 2;
    margin-right: -50px;   
}

h1{
    font-family:sans-serif;
    color: darkblue;
    font-weight: bold; 
}

p{
    font-family: sans-serif;
    color: grey;
}

button{
    height: 51px;
    width: 51px;
    margin-top: 10%;
    background: white;
    border-radius: 5px;
}
